body {
    background-color: #2f4f4f;
    color: black;
    transition: 0.3s;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #2f4f4f;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #8de0b3, #a7f3d0, #a7f3d0, #bbf7d0);
    background-clip: text;
    -webkit-text-clip: text;
    color: transparent;
}

.menu {
    list-style: none;
    display: flex;
    gap: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #8de0b3, #a7f3d0, #a7f3d0, #bbf7d0);
    background-clip: text;
    -webkit-text-clip: text;
    color: transparent;
}

.linha-degrade {
    height: 3px;
    background: linear-gradient(to right, #6bbf9b, #8de0b3, #a7f3d0);
}

.light-mode {
    background-color: #ffffff;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ADEBB3;
    border-radius: 34px;
    width: 100%;
    height: 100%;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider:before {
    transform: translateX(36px);
}

.icon {
    position: absolute;
    top: 8px;
    font-size: 16px;
    color: black;
}

.moon {
    left: 10px;
}

.sun {
    right: 10px;
}

.secao {
    display: flex;
    align-items: flex-start;
    gap: px;
    margin-left: 50px;
    margin-top: 20px;
}

.foto {
    width: 510px;
    height: 510px;
    object-fit: cover;
    border-radius: 50%;
    padding: 3px;
    border-radius: 70%;
    margin: 110px;
    margin-left: 200px;
}

.texto {
    display: flex;
    flex-direction: column;
    color: #a7f3d0;
    height: 20px;
    margin: 40px;
    margin-top: 120px;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
}

.texto h2 {
    text-align: center;
    font-size: 32px;
    color: #a7f3d0;
    margin-bottom: 20px;
}

.texto p {
    margin: auto;
    text-align: center;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.8;
    color: #6bbf9b;
}

.footer{
    background-color: #2f4f4f;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 
.aparecer {
    animation: aparecer 1s ease forwards;
}